@font-face {
  font-family: "PingFangSC-Semibold";
  src: url(../font/PingFangTC-Semibold.ttf);
}

@font-face {
  font-family: "PingFangSC-Regular";
  src: url(../font/PingFang-Regular.ttf);
}

body,
p,
a,
h1 {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-weight: normal;
  font-size: 3.73333vw;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  background: #FFFFFF;
}

.main .header {
  height: 11.73333vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #F9F9F9;
}

.main .header .return {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.main .header .return img {
  height: 8vw;
  padding-left: 2.66667vw;
}

.main .header .wraparound {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "PingFangSC-Regular";
}

.main .header .more {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main .header .more img {
  height: 8vw;
  padding-right: 2.66667vw;
}

.main .search {
  width: 92vw;
  height: 9.06667vw;
  margin: 3.46667vw 4vw;
}

.main .search > input {
  border: none;
  background: #F3F4F6;
  font-size: 3.2vw;
  width: 92vw;
  height: 9.06667vw;
  border-radius: 4.53333vw;
  text-align: center;
}

.carousel {
  position: relative;
}

.carousel img {
  width: 100vw;
}

.carousel div {
  position: absolute;
  bottom: 2.66667vw;
  left: 50%;
  margin-left: -8.8vw;
  z-index: 999;
  color: #F6FBFF;
}

.carousel div span {
  display: inline-block;
  border-radius: 1.5px;
  width: 2.66667vw;
  height: 0.8vw;
}

.carousel div span:nth-child(1) {
  background: #E52F17;
}

.carousel div span:nth-child(n+2) {
  background: rgba(255, 255, 255, 0.7);
}

.main .detail {
  background: #F5F5F5;
}

.main .detail .detail-title {
  background: #FFF;
  padding: 4vw;
  margin-bottom: 2.66667vw;
}

.main .detail .detail-title .title {
  font-size: 5.86667vw;
  line-height: 5.86667vw;
  color: #333333;
  font-weight: 600;
  padding: 0;
}

.main .detail .detail-title > div {
  font-size: 3.46667vw;
  color: #151515;
  line-height: 4.8vw;
  padding: 2.66667vw 0;
}

.main .detail .detail-title > div span {
  color: #25A8FC;
}

.main .detail .detail-time {
  background-color: #fff;
  padding: 4vw;
  margin-bottom: 2.66667vw;
}

.main .detail .detail-time img {
  width: 4.26667vw;
}

.main .detail .detail-time .time {
  padding-bottom: 4vw;
  font-size: 4vw;
  font-weight: 500;
  color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .detail .detail-time .time > span {
  padding-left: 3.46667vw;
}

.main .detail .detail-time .address {
  padding: 4vw 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 0.26667vw solid #F5F5F5;
  border-top: 0.26667vw solid #F5F5F5;
}

.main .detail .detail-time .address .left {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main .detail .detail-time .address .left > div {
  padding-left: 3.2vw;
  font-size: 3.73333vw;
  color: #333333;
}

.main .detail .detail-time .address .left > div .gary {
  padding-top: 1.33333vw;
  font-size: 3.46667vw;
  color: #999999;
}

.main .detail .detail-time .address .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .detail .detail-time .address .right > div {
  color: #CCCCCC;
  margin: 0 4vw;
  font-size: 4.26667vw;
}

.main .detail .detail-time .address .right .dian {
  width: 5.33333vw;
}

.main .detail .special {
  margin-bottom: 2.66667vw;
  background-color: #FFF;
  padding: 4vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 4vw;
  color: #333333;
}

.main .detail .special > b {
  margin-right: 3.46667vw;
  color: #000000;
}

.main .detail .tickets {
  margin-bottom: 2.66667vw;
  background-color: #FFF;
  padding: 4vw;
  padding-bottom: 0;
}

.main .detail .tickets .tickets-title {
  font-size: 4.53333vw;
  font-weight: 600;
  color: #333333;
  padding-bottom: 3.46667vw;
  border-bottom: 1px solid #EEEEEE;
}

.main .detail .tickets .tickets-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 21.33333vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .detail .tickets .tickets-cont .left div {
  font-size: 3.46667vw;
  color: #BBBBBB;
  line-height: 6.13333vw;
}

.main .detail .tickets .tickets-cont .left .men {
  font-size: 4vw;
  color: #333333;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .detail .tickets .tickets-cont .left img {
  width: 8vw;
  margin-right: 2.13333vw;
}

.main .detail .tickets .tickets-cont .right > div {
  font-size: 3.2vw;
  color: #151515;
}

.main .detail .tickets .tickets-cont .right > div > span {
  font-size: 4.53333vw;
  color: #E52F17;
  line-height: 5.33333vw;
  font-weight: 600;
}

.main .detail .tickets .tickets-cont .right img {
  margin-top: 2.13333vw;
  width: 14.4vw;
}

.main .detail .nearby {
  margin-bottom: 2.66667vw;
  background-color: #FFF;
  padding: 4vw;
  padding-bottom: 18.66667vw;
}

.main .detail .nearby .nearby-title {
  font-size: 4.53333vw;
  font-weight: 600;
  color: #333333;
  padding-bottom: 3.46667vw;
  border-bottom: 1px solid #EEEEEE;
}

.main .detail .nearby .classify {
  padding: 4vw 0;
}

.main .detail .nearby .classify > a {
  width: 13.86667vw;
  height: 6.4vw;
  display: inline-block;
  text-align: center;
  background: #EEEEEE;
  border-radius: 3.73333vw;
  line-height: 6.4vw;
  color: #333333;
  margin-right: 4vw;
}

.main .detail .nearby .classify > a:nth-child(3) {
  background-image: -webkit-gradient(linear, left top, right top, from(#FF3840), color-stop(99%, #FF7B55));
  background-image: linear-gradient(90deg, #FF3840 0%, #FF7B55 99%);
  border-radius: 3.73333vw;
  font-size: 3.46667vw;
  color: #FFFFFF;
}

.main .detail .nearby .plate .plate-item {
  padding: 0 4vw;
  background: #FFFFFF;
  -webkit-box-shadow: 0 0 4vw 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 4vw 0 rgba(0, 0, 0, 0.1);
  border-radius: 1.06667vw;
  margin-bottom: 4vw;
}

.main .detail .nearby .plate .plate-item .plate-title {
  padding: 3.2vw 0;
  font-size: 4vw;
  font-weight: 600;
  color: #333333;
}

.main .detail .nearby .plate .plate-item .plate-title img {
  width: 9.06667vw;
  padding-left: 1.6vw;
  border-radius: 0.53333vw;
}

.main .detail .nearby .plate .plate-item .plate-title img:nth-child(1) {
  width: 8vw;
  height: 8vw;
  margin-right: 2.66667vw;
  padding-left: 0;
}

.main .detail .nearby .plate .plate-item .food {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 0.26667vw solid #EEEEEE;
  border-bottom: 0.26667vw solid #EEEEEE;
  padding-top: 2.66667vw;
  padding-bottom: 4.26667vw;
}

.main .detail .nearby .plate .plate-item .food img {
  border-radius: 1.06667vw;
  width: 26.66667vw;
  height: 16vw;
  margin-right: 2.66667vw;
}

.main .detail .nearby .plate .plate-item .food .writing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 4vw;
  color: #333333;
  font-weight: 600;
}

.main .detail .nearby .plate .plate-item .food .writing .red {
  font-weight: 400;
  font-size: 3.2vw;
}

.main .detail .nearby .plate .plate-item .food .writing .red > span {
  font-size: 4.53333vw;
  font-weight: 600;
  color: #E52F17;
}

.main .detail .nearby .plate .plate-item .bottom {
  padding: 2.93333vw 0 3.73333vw 0;
  font-size: 3.46667vw;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .detail .nearby .plate .plate-item .bottom > img {
  width: 4vw;
  margin-right: 1.33333vw;
}
/*# sourceMappingURL=2-3.css.map */