@import "./basis.scss";

// 轮播图
.carousel {
    position: relative;

    img {
        width: vw(375);
    }

    div {
        position: absolute;
        bottom: vw(10);
        left: 50%;
        margin-left: vw(-33);
        z-index: 999;
        color: #F6FBFF;

        span {
            display: inline-block;
            border-radius: 1.5px;
            width: vw(10);
            height: vw(3);
        }

        span:nth-child(1) {
            background: #E52F17;
        }

        span:nth-child(n+2) {
            background: rgba(255, 255, 255, 0.70);
        }
    }
}

.main {



    // 内容
    .detail {
        background: #F5F5F5;

        // 1 标题框
        .detail-title {
            background: #FFF;
            padding: vw(15);
            margin-bottom: vw(10);

            .title {
                font-size: vw(22);
                line-height: vw(22);
                color: #333333;
                font-weight: 600;
                padding: 0;
            }

            >div {
                font-size: vw(13);
                color: #151515;
                line-height: vw(18);
                padding: vw(10) 0;

                span {
                    color: #25A8FC;
                }
            }
        }

        // 2 时间地址
        .detail-time {
            background-color: #fff;
            padding: vw(15);
            margin-bottom: vw(10);

            img {
                width: vw(16);
            }

            // 第一排时间
            .time {
                padding-bottom: vw(15);
                font-size: vw(15);
                font-weight: 500;
                color: #333333;
                display: flex;
                align-items: center;

                >span {
                    padding-left: vw(13);
                }
            }

            // 第二排地址
            .address {
                padding: vw(15) 0;
                display: flex;
                border-bottom: vw(1) solid #F5F5F5;
                border-top: vw(1) solid #F5F5F5;




                .left {
                    flex-grow: 1;
                    display: flex;
                    align-items: flex-start;

                    >div {
                        padding-left: vw(12);
                        font-size: vw(14);
                        color: #333333;

                        .gary {
                            padding-top: vw(5);
                            font-size: vw(13);
                            color: #999999;
                        }
                    }

                }

                .right {
                    display: flex;
                    align-items: center;

                    >div {
                        color: #CCCCCC;
                        margin: 0 vw(15);
                        font-size: vw(16);
                    }

                    .dian {
                        width: vw(20);
                    }
                }
            }
        }

        // 3 特色活动
        .special {
            margin-bottom: vw(10);
            background-color: #FFF;
            padding: vw(15);
            display: flex;
            font-size: vw(15);
            color: #333333;

            >b {
                margin-right: vw(13);
                color: #000000;
            }
        }

        // 4 门票
        .tickets {
            margin-bottom: vw(10);
            background-color: #FFF;
            padding: vw(15);
            padding-bottom: 0;

            .tickets-title {
                font-size: vw(17);
                font-weight: 600;
                color: #333333;
                padding-bottom: vw(13);
                border-bottom: 1px solid #EEEEEE;
            }

            .tickets-cont {
                display: flex;
                justify-content: space-between;
                height: vw(80);
                align-items: center;

                .left {
                    div {
                        font-size: vw(13);
                        color: #BBBBBB;
                        line-height: vw(23);
                    }

                    .men {
                        font-size: vw(15);
                        color: #333333;
                        font-weight: 600;
                        display: flex;
                        align-items: center;
                    }

                    img {
                        width: vw(30);
                        margin-right: vw(8);
                    }
                }

                .right {
                    >div {
                        font-size: vw(12);
                        color: #151515;

                        >span {
                            font-size: vw(17);
                            color: #E52F17;
                            line-height: vw(20);
                            font-weight: 600;
                        }
                    }

                    img {
                        margin-top: vw(8);
                        width: vw(54);
                    }
                }
            }
        }

        // 5 周边推荐
        .nearby {
            margin-bottom: vw(10);
            background-color: #FFF;
            padding: vw(15);
            padding-bottom: vw(70);

            .nearby-title {
                font-size: vw(17);
                font-weight: 600;
                color: #333333;
                padding-bottom: vw(13);
                border-bottom: 1px solid #EEEEEE;
            }

            // 中间分类
            .classify {
                padding: vw(15) 0;

                >a {
                    width: vw(52);
                    height: vw(24);
                    display: inline-block;
                    text-align: center;
                    background: #EEEEEE;
                    border-radius: vw(14);
                    line-height: vw(24);
                    color: #333333;
                    margin-right: vw(15);

                    &:nth-child(3) {
                        background-image: linear-gradient(90deg, #FF3840 0%, #FF7B55 99%);
                        border-radius: vw(14);
                        font-size: vw(13);
                        color: #FFFFFF;
                    }
                }
            }

            .plate {
                // 每一项统一样式
                .plate-item {
                    padding: 0 vw(15);
                    background: #FFFFFF;
                    box-shadow: 0 0 vw(15) 0 rgba(0, 0, 0, 0.10);
                    border-radius: vw(4);
                    margin-bottom: vw(15);

                    .plate-title {
                        padding: vw(12) 0;
                        font-size: vw(15);
                        font-weight: 600;
                        color: #333333;

                        img {
                            width: vw(34);
                            padding-left: vw(6);
                            border-radius: vw(2);

                            &:nth-child(1) {
                                width: vw(30);
                                height: vw(30);
                                margin-right: vw(10);
                                padding-left: 0;

                            }
                        }
                    }

                    // 1*2板块
                    .food {
                        display: flex;
                        border-top: vw(1) solid #EEEEEE;
                        border-bottom: vw(1) solid #EEEEEE;
                        padding-top: vw(10);
                        padding-bottom: vw(16);

                        img {
                            border-radius: vw(4);
                            width: vw(100);
                            height: vw(60);
                            margin-right: vw(10);
                        }

                        .writing {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            font-size: vw(15);
                            color: #333333;
                            font-weight: 600;

                            .red {
                                font-weight: 400;
                                font-size: vw(12);

                                >span {
                                    font-size: vw(17);
                                    font-weight: 600;
                                    color: #E52F17;
                                }
                            }
                        }
                    }

                    .bottom {
                        padding: vw(11) 0 vw(14) 0;
                        font-size: vw(13);
                        color: #000000;
                        display: flex;
                        align-items: center;

                        >img {
                            width: vw(15);
                            margin-right: vw(5)
                        }
                    }
                }
            }
        }
    }
}