@function vw($px) {
    @return $px / 375 * 100vw;
}

@font-face {
    font-family: "PingFangSC-Semibold";
    src: url(../font/PingFangTC-Semibold.ttf);
}

@font-face {
    font-family: "PingFangSC-Regular";
    src: url(../font/PingFang-Regular.ttf);
}
$gray:#F5F5F5;

body,
p,
a,
h1 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-weight: normal;
    font-size: vw(14);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.main{
    background: #FFFFFF;

    // 头部导航
    .header {
        height: vw(44);
        display: flex;
        background: #F9F9F9;
        // 左
        .return {
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            img {
                height: vw(30);
                padding-left: vw(10);
            }
        }
        // 中间文字
        .wraparound {
            flex-grow: 1;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: "PingFangSC-Regular";

        }
        // 右边
        .more {
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            img {
                height: vw(30);
                padding-right: vw(10);
            }
        }
    }
    // 搜索框
    .search {
        width: vw(345);
        height: vw(34);
        margin: vw(13) vw(15);

        >input {
            border: none;
            background: #F3F4F6;
            font-size: vw(12);
            width: vw(345);
            height: vw(34);
            border-radius: vw(17);
            text-align: center;
        }
    }

}