<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <ul>
        <li v-for="v in hobby" :id="v">{{v}}</li>

        <li v-for="v in age" :id="v">
          <template v-if="v>20"> {{v}} </template>
        </li>
      </ul>
    </div>
    <script src="./vue.js"></script>
    <script>
      const vm = new Vue({
        el: "#app",
        data() {
          return {
            hobby: ["html", "css", "js", "vue"],
            age: [20, 21, 22, 23],
          };
        },
      });
    </script>
  </body>
</html>
