div {
  border: solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.grid-cell {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.grid-cell .col-1 {
  -ms-flex-preferred-size: 8.33333%;
      flex-basis: 8.33333%;
}

.grid-cell .col-2 {
  -ms-flex-preferred-size: 16.66667%;
      flex-basis: 16.66667%;
}

.grid-cell .col-3 {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.grid-cell .col-4 {
  -ms-flex-preferred-size: 33.33333%;
      flex-basis: 33.33333%;
}

.grid-cell .col-5 {
  -ms-flex-preferred-size: 41.66667%;
      flex-basis: 41.66667%;
}

.grid-cell .col-6 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.grid-cell .col-7 {
  -ms-flex-preferred-size: 58.33333%;
      flex-basis: 58.33333%;
}

.grid-cell .col-8 {
  -ms-flex-preferred-size: 66.66667%;
      flex-basis: 66.66667%;
}

.grid-cell .col-9 {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
}

.grid-cell .col-10 {
  -ms-flex-preferred-size: 83.33333%;
      flex-basis: 83.33333%;
}

.grid-cell .col-11 {
  -ms-flex-preferred-size: 91.66667%;
      flex-basis: 91.66667%;
}

.grid-cell .col-12 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.col-12 {
  background-color: blue;
}

.col-6 {
  background-color: green;
}

.col-4 {
  background-color: red;
}

.col-3 {
  background-color: pink;
}

@media only screen and (max-width: 768px) {
  .col-xs-1 {
    -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
    color: pink;
  }
  .col-xs-2 {
    -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
    color: pink;
  }
  .col-xs-3 {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    color: pink;
  }
  .col-xs-4 {
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
    color: pink;
  }
  .col-xs-5 {
    -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
    color: pink;
  }
  .col-xs-6 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    color: pink;
  }
  .col-xs-7 {
    -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
    color: pink;
  }
  .col-xs-8 {
    -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
    color: pink;
  }
  .col-xs-9 {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    color: pink;
  }
  .col-xs-10 {
    -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
    color: pink;
  }
  .col-xs-11 {
    -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%;
    color: pink;
  }
  .col-xs-12 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    color: pink;
  }
}

@media only screen and (min-width: 768px) {
  .col-sm-1 {
    -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
    color: orange;
  }
  .col-sm-2 {
    -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
    color: orange;
  }
  .col-sm-3 {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    color: orange;
  }
  .col-sm-4 {
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
    color: orange;
  }
  .col-sm-5 {
    -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
    color: orange;
  }
  .col-sm-6 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    color: orange;
  }
  .col-sm-7 {
    -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
    color: orange;
  }
  .col-sm-8 {
    -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
    color: orange;
  }
  .col-sm-9 {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    color: orange;
  }
  .col-sm-10 {
    -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
    color: orange;
  }
  .col-sm-11 {
    -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%;
    color: orange;
  }
  .col-sm-12 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    color: orange;
  }
}

@media only screen and (min-width: 992px) {
  .col-pc-1 {
    -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
    color: blue;
  }
  .col-pc-2 {
    -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
    color: blue;
  }
  .col-pc-3 {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    color: blue;
  }
  .col-pc-4 {
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
    color: blue;
  }
  .col-pc-5 {
    -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
    color: blue;
  }
  .col-pc-6 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    color: blue;
  }
  .col-pc-7 {
    -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
    color: blue;
  }
  .col-pc-8 {
    -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
    color: blue;
  }
  .col-pc-9 {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    color: blue;
  }
  .col-pc-10 {
    -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
    color: blue;
  }
  .col-pc-11 {
    -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%;
    color: blue;
  }
  .col-pc-12 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    color: blue;
  }
}

@media only screen and (min-width: 1200px) {
  .col-lg-1 {
    -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
    color: red;
  }
  .col-lg-2 {
    -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
    color: red;
  }
  .col-lg-3 {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    color: red;
  }
  .col-lg-4 {
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
    color: red;
  }
  .col-lg-5 {
    -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
    color: red;
  }
  .col-lg-6 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    color: red;
  }
  .col-lg-7 {
    -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
    color: red;
  }
  .col-lg-8 {
    -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
    color: red;
  }
  .col-lg-9 {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    color: red;
  }
  .col-lg-10 {
    -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
    color: red;
  }
  .col-lg-11 {
    -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%;
    color: red;
  }
  .col-lg-12 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    color: red;
  }
}
/*# sourceMappingURL=1.css.map */