div {
  border: solid;
  box-sizing: border-box;
  // text-align: center;
}
.grid {
  display: flex;
  flex-wrap: wrap;
}
.grid-cell {
    flex:0 0 auto;
  @for $i from 1 to 13 {
    .col-#{$i} {
      flex-basis: $i/12 * 100%;
    }
  }
}
@each $c, $ba in (blue, 12) (green, 6) (red, 4) (pink, 3)  {
  .col-#{$ba} {
    background-color: #{$c};
  }
}

@media only screen and(max-width:768px) {
    @for $i from 1 to 13 {
        .col-xs-#{$i} {
          flex-basis: $i/12 * 100%;
          color: pink;
        }
      }
}

@media only screen and(min-width:768px) {
    @for $i from 1 to 13 {
        .col-sm-#{$i} {
          flex-basis: $i/12 * 100%;
          color: orange;
        }
      }
}

@media only screen and(min-width:992px) {
    @for $i from 1 to 13 {
        .col-pc-#{$i} {
          flex-basis: $i/12 * 100%;
          color: blue;
        }
      }
}

@media only screen and(min-width:1200px) {
    @for $i from 1 to 13 {
        .col-lg-#{$i} {
          flex-basis: $i/12 * 100%;
          color: red;
        }
      }
     
}