@charset "UTF-8";
@font-face {
  font-family: 'iconfont';
  src: url(../iconfont/iconfont.ttf) format("truetype");
}

.iconfont {
  font-family: "iconfont";
  font-size: vw(16);
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
}

body {
  margin: 0;
  background-color: #f4f4f4;
  overflow-x: hidden;
}

body .shortcut {
  height: 31px;
  background-color: #e3e4e5;
  border-bottom: 0.06583vw solid #ddd;
  position: relative;
  z-index: 999;
}

body .shortcut > div {
  width: 78.34101vw;
  margin: auto;
  height: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .shortcut > div > p {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 0.78999vw;
  color: #999;
  padding: 0 0.85583vw;
}

body .shortcut > div > p > span {
  font-size: 0.92166vw;
  color: #f10215;
  margin-right: 0.26333vw;
}

body .shortcut > div > ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 0.98749vw;
  padding: 0;
}

body .shortcut > div > ul > li {
  padding: 0 0.46083vw;
  font-size: 0.78999vw;
  color: #999;
}

body .shortcut > div > ul > li .red {
  color: #e33333;
}

body .header {
  height: 141px;
  background-color: #fff;
  border-bottom: 0.06583vw solid #ddd;
  overflow: hidden;
}

body .header .float {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  border-bottom: 0.13167vw solid #f10214;
  background-color: #fff;
  -webkit-box-shadow: 0.13167vw 0.13167vw 0.13167vw rgba(0, 0, 0, 0.203);
          box-shadow: 0.13167vw 0.13167vw 0.13167vw rgba(0, 0, 0, 0.203);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .header .float > div {
  position: relative;
  height: 50px;
}

body .header .float > div .float-logo {
  background-image: url(../picture/sprite.png);
  background-position: 0 -120px;
  background-repeat: no-repeat;
  display: block;
  width: 125px;
  height: 40px;
  margin-top: 6px;
}

body .header .float > div .from {
  display: inline-block;
  width: 35.9447vw;
  height: 36px;
  border: 0.13167vw solid #e2231a;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  position: absolute;
  top: 8px;
  left: 180%;
}

body .header .float > div .from > input {
  border: none;
  padding: 2px 44px 2px 17px;
  width: 27.97893vw;
  height: 26px;
  border: 0.06583vw solid transparent;
  color: #333;
  font-size: 0.78999vw;
}

body .header .float > div .from > span {
  font-size: 1.25082vw;
  color: #999;
  display: inline-block;
  position: absolute;
  right: 4.60829vw;
}

body .header .float > div .from > button {
  border: none;
  width: 3.8183vw;
  height: 32px;
  background-color: #e1251b;
  font-size: 1.18499vw;
  font-weight: 700;
  color: #fff;
}

body .header .float > div .shop {
  position: absolute;
  top: 8px;
  left: 60vw;
}

body .header .float > div .shop > div {
  width: 8.55826vw;
  height: 34px;
  background-color: #fff;
  text-align: center;
  line-height: 2.23831vw;
  border: 0.06583vw solid #e3e4e5;
  position: absolute;
}

body .header .float > div .shop > div span {
  color: #e1251b;
}

body .header .float > div .shop > div span:nth-child(1) {
  margin-right: 0.85583vw;
}

body .header .float > div .shop > div span:nth-child(2) {
  font-size: 0.78999vw;
}

body .header .float > div .shop > div span:nth-child(3) {
  position: absolute;
  top: 0.06583vw;
  left: 1.90915vw;
  right: auto;
  font-size: 0.78999vw;
  line-height: 0.78999vw;
  min-width: 1.31666vw;
  padding: 0.06583vw 0.1975vw;
  color: #fff;
  background-color: #e1251b;
  border-radius: 0.46083vw;
  text-align: center;
}

body .header > div {
  width: 100%;
  padding: 0 10.40158vw;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 999;
}

body .header > div .jd-icon {
  background-image: url(../picture/sprite.png);
  width: 12.50823vw;
  height: 7.89993vw;
  position: relative;
  top: 0.65833vw;
}

body .header > div .search {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 8.55826vw;
}

body .header > div .search .search-m {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body .header > div .search .search-m .from {
  display: inline-block;
  width: 35.9447vw;
  height: 2.36998vw;
  border: 0.13167vw solid #e2231a;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  position: absolute;
  top: 1.64582vw;
  left: 5.00329vw;
}

body .header > div .search .search-m .from > input {
  border: none;
  padding: 0.13167vw 2.89664vw 0.13167vw 1.11916vw;
  width: 27.97893vw;
  height: 1.71165vw;
  border: 0.06583vw solid transparent;
  color: #333;
  font-size: 0.78999vw;
}

body .header > div .search .search-m .from > span {
  font-size: 1.25082vw;
  color: #999;
  display: inline-block;
  position: absolute;
  right: 4.60829vw;
}

body .header > div .search .search-m .from > button {
  border: none;
  width: 3.8183vw;
  height: 2.10665vw;
  background-color: #e1251b;
  font-size: 1.18499vw;
  font-weight: 700;
  color: #fff;
}

body .header > div .search .search-m .shop {
  position: absolute;
  top: 1.64582vw;
  left: 42.46215vw;
}

body .header > div .search .search-m .shop > div {
  width: 8.55826vw;
  height: 2.23831vw;
  background-color: #fff;
  text-align: center;
  line-height: 2.23831vw;
  border: 0.06583vw solid #e3e4e5;
  position: relative;
}

body .header > div .search .search-m .shop > div span {
  color: #e1251b;
}

body .header > div .search .search-m .shop > div span:nth-child(1) {
  margin-right: 0.85583vw;
}

body .header > div .search .search-m .shop > div span:nth-child(2) {
  font-size: 0.78999vw;
}

body .header > div .search .search-m .shop > div span:nth-child(3) {
  position: absolute;
  top: 0.06583vw;
  left: 1.90915vw;
  right: auto;
  font-size: 0.78999vw;
  line-height: 0.78999vw;
  min-width: 1.31666vw;
  padding: 0.06583vw 0.1975vw;
  color: #fff;
  background-color: #e1251b;
  border-radius: 0.46083vw;
  text-align: center;
}

body .header > div .search .small-categories {
  font-size: 0.78999vw;
  position: absolute;
  left: 4.93746vw;
  top: 4.27913vw;
  width: 36.20803vw;
  height: 1.31666vw;
  line-height: 1.31666vw;
}

body .header > div .search .small-categories > a {
  margin-right: 0.65833vw;
  text-decoration: none;
  outline: none;
  color: #999;
}

body .header > div .search .small-categories > a:nth-child(1) {
  color: #e1251b;
}

body .header > div .search .classify {
  height: 3.94997vw;
  margin-bottom: 0;
  position: absolute;
  left: 1.18499vw;
  bottom: 0;
  height: 2.63331vw;
  padding-top: 1.31666vw;
}

body .header > div .search .classify > ul {
  list-style-type: none;
  font-size: 0.98749vw;
  padding-left: 0;
  height: 2.63331vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .header > div .search .classify > ul > li {
  display: inline-block;
  font-size: 0.98749vw;
  margin: 0 0.78999vw;
  white-space: nowrap;
}

body .header > div .search .classify > ul > li:nth-child(1) {
  font-weight: 700;
  color: #e1251b;
}

body .header > div .search .classify > ul > li:nth-child(2) {
  font-weight: 700;
  color: #e1251b;
}

body .header > div .qr {
  width: 12.50823vw;
  height: 7.89993vw;
  position: relative;
}

body .header > div .qr > div {
  width: 5.00329vw;
  height: 5.00329vw;
  background-color: #fff;
  -webkit-box-shadow: 0 0.13167vw 0.52666vw rgba(255, 255, 255, 0.107);
          box-shadow: 0 0.13167vw 0.52666vw rgba(255, 255, 255, 0.107);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0.06583vw;
  left: 1.31666vw;
}

body .header > div .qr > div > div {
  background-image: url(../picture/dc4cf353fd96922e.png.jpg);
  background-color: #f6f6f6;
  width: 4.34496vw;
  height: 4.34496vw;
  background-size: 100%;
  border: none;
}

body .fs {
  height: 31.59974vw;
  margin-bottom: 1.97498vw;
}

body .fs > div {
  width: 78.34101vw;
  margin: auto;
  height: 30.94141vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 0.65833vw;
}

body .fs > div .cate-menu {
  width: 12.50823vw;
  height: 30.94141vw;
  background-color: #fff;
  padding: 0.65833vw 0 0.65833vw 1.18499vw;
}

body .fs > div .cate-menu ul {
  font-size: 0.92166vw;
  color: #333;
}

body .fs > div .cate-menu ul li {
  width: 11.32324vw;
  height: 1.57999vw;
}

body .fs > div .slider {
  width: 52.0079vw;
  height: 30.94141vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f4f4f4;
}

body .fs > div .slider .picture-link {
  position: relative;
}

body .fs > div .slider .picture-link .round {
  position: absolute;
  left: 3.29164vw;
  bottom: 1.31666vw;
}

body .fs > div .slider .picture-link .round > i {
  width: 0.52666vw;
  height: 0.52666vw;
  margin-right: 0.13167vw;
  border: 0.06583vw solid rgba(0, 0, 0, 0.05);
  background: rgba(255, 255, 255, 0.4);
  display: inline-block;
  border-radius: 50%;
}

body .fs > div .slider .picture-link .round > i:nth-child(1) {
  position: absolute;
  border-radius: 50%;
  margin-right: 0.26333vw;
  background: rgba(255, 255, 255, 0.4);
  border: 0.72416vw solid rgba(0, 0, 0, 0.1);
  top: 5px;
  left: -1.64582vw;
}

body .fs > div .slider .picture-link .round > i:nth-child(1)::before {
  position: absolute;
  display: inline-block;
  top: -0.29625vw;
  left: -0.26333vw;
  content: " ";
  width: 0.5925vw;
  height: 0.5925vw;
  border-radius: 50%;
  background-color: #fff;
}

body .fs > div .slider .picture-link > img {
  height: 30.94141vw;
}

body .fs > div .slider .picture-link .symbol > span {
  border-color: none;
  width: 1.64582vw;
  height: 2.30415vw;
  background-color: rgba(0, 0, 0, 0.15);
  color: #fff;
  font-size: 1.31666vw;
  text-align: center;
}

body .fs > div .slider .picture-link .symbol > span:nth-of-type(1) {
  position: absolute;
  top: 50%;
  margin-top: -1.31666vw;
  left: 0;
  border-radius: 0 100% 100% 0;
}

body .fs > div .slider .picture-link .symbol > span:nth-of-type(2) {
  position: absolute;
  top: 50%;
  margin-top: -1.31666vw;
  right: 0;
  border-radius: 100% 0 0 100%;
}

body .fs > div .slider .picture-links {
  height: 30.94141vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .fs > div .slider .picture-links div {
  width: 12.50823vw;
  height: 9.87492vw;
}

body .fs > div .slider .picture-links img {
  height: 9.87492vw;
}

body .fs > div .login-bar {
  width: 12.50823vw;
  height: 30.94141vw;
  background-color: #fff;
  position: relative;
}

body .fs > div .login-bar .login {
  width: 12.50823vw;
  height: 6.71494vw;
  font-size: 0.78999vw;
  border-bottom: 0.06583vw solid rgba(0, 0, 0, 0.15);
}

body .fs > div .login-bar .login .login-entry .avatar {
  width: 2.63331vw;
  height: 2.63331vw;
  border: 2px solid #fff;
  border-radius: 50%;
  position: absolute;
  left: 1.31666vw;
  top: 0.85583vw;
  width: 2.89664vw;
  height: 2.89664vw;
  -webkit-box-shadow: 0 0.13167vw 0.52666vw rgba(0, 0, 0, 0.11);
          box-shadow: 0 0.13167vw 0.52666vw rgba(0, 0, 0, 0.11);
}

body .fs > div .login-bar .login .login-entry .avatar img {
  width: 100%;
  border-radius: 50%;
}

body .fs > div .login-bar .login .login-entry .login-item {
  position: absolute;
  top: 1.05332vw;
  left: 4.87163vw;
  right: 0.65833vw;
  white-space: nowrap;
}

body .fs > div .login-bar .login .login-entry .login-item a {
  color: #666;
  text-decoration: none;
}

body .fs > div .login-bar .login .login-entry .login-item p {
  margin-top: 0.1975vw;
  height: 1.31666vw;
  color: #333;
}

body .fs > div .login-bar .login .login-push {
  position: absolute;
  left: 0.98749vw;
  padding-top: 4.4108vw;
  height: 2.30415vw;
}

body .fs > div .login-bar .login .login-push button {
  border: none;
  width: 4.60829vw;
  height: 1.64582vw;
  border-radius: 0.85583vw;
  text-align: center;
  font-size: 0.78999vw;
  margin: 0 0.32916vw;
}

body .fs > div .login-bar .login .login-push button:nth-child(1) {
  color: #fff;
  background: #e1251b;
  white-space: nowrap;
}

body .fs > div .login-bar .login .login-push button:nth-child(2) {
  background: #363634;
  color: #e5d790;
  white-space: nowrap;
}

body .fs > div .login-bar .express {
  height: 8.55826vw;
  font-size: 0.78999vw;
  border-bottom: 0.06583vw solid rgba(0, 0, 0, 0.15);
}

body .fs > div .login-bar .express .express-entry {
  height: 1.97498vw;
  padding: 0.65833vw 0 0;
  margin-bottom: 0.52666vw;
  position: relative;
}

body .fs > div .login-bar .express .express-entry div {
  display: inline-block;
  font-size: 0.92166vw;
  margin-left: 0.98749vw;
  font-weight: 700;
  color: #333;
}

body .fs > div .login-bar .express .express-entry > span {
  color: #999;
  position: absolute;
  right: 0.98749vw;
  top: 0.65833vw;
}

body .fs > div .login-bar .express .express-item ul {
  margin: 0 0.98749vw;
  height: 5.79329vw;
  color: #666;
}

body .fs > div .login-bar .express .express-item li {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 0.395vw;
}

body .fs > div .login-bar .express .express-item li span {
  display: inline-block;
  text-align: center;
  color: #e1251b;
  background-color: rgba(225, 37, 27, 0.08);
  margin-right: 0.395vw;
  height: 1.05332vw;
  width: 2.30415vw;
}

body .fs > div .login-bar .colorful {
  height: 15.6682vw;
  padding: 0.65833vw 0 0.32916vw 0;
  position: relative;
}

body .fs > div .login-bar .colorful ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .fs > div .login-bar .colorful ul li {
  display: inline-block;
  width: 4.14747vw;
  height: 3.6208vw;
  text-align: center;
  font-size: 0.78999vw;
}

body .fs > div .login-bar .colorful ul .colorful-item img {
  width: 1.84332vw;
  height: 1.84332vw;
}

body .fs > div .login-bar .colorful ul .colorful-red {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 14px;
  height: 14px;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  background: #e1251b;
  color: #fff;
}

body .j-app {
  overflow: visible;
}

body .j-app .elevator {
  width: 3.8183vw;
  position: -webkit-sticky;
  position: sticky;
  top: 5.26662vw;
  z-index: 999;
  background-color: #fff;
  float: right;
}

body .j-app .elevator ul {
  height: 358px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .j-app .elevator ul > li {
  padding: 10px;
  text-align: center;
  font-size: 14px;
  color: #333;
}

body .j-app .elevator ul > li > span {
  display: inline-block;
  margin: 0 11px 3px;
}

body .j-app .elevator .back-top {
  display: inline-block;
  height: 3.8183vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #e1251b;
}

body .seckill {
  height: 17.11652vw;
  margin-bottom: 1.31666vw;
  background-color: #f4f4f4;
}

body .seckill .seckill-inner {
  width: 78.34101vw;
  height: 17.11652vw;
  margin: 0 10.20408vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
}

body .seckill .seckill-inner .spike {
  width: 12.50823vw;
  background: url(../picture/4a15d8883775742e3efbb850ae14def7.png) no-repeat;
  background-size: cover;
  color: #fff;
}

body .seckill .seckill-inner .spike .spike-title {
  text-align: center;
  font-size: 1.97498vw;
  font-weight: 700;
  margin-top: 2.04082vw;
}

body .seckill .seckill-inner .spike .spike-time {
  margin-top: 5.92495vw;
  font-size: 0.92166vw;
  width: 12.50823vw;
  text-align: center;
}

body .seckill .seckill-inner .spike .spike-time .spike-sessions {
  font-size: 1.18499vw;
  font-weight: 700;
  height: 1.71165vw;
}

body .seckill .seckill-inner .spike .spike-time .spike-sessions > span {
  font-weight: 400;
  font-size: 0.92166vw;
}

body .seckill .seckill-inner .spike .spike-time .spike-timing {
  font-size: 1.31666vw;
  font-weight: 700;
  margin-top: 0.65833vw;
}

body .seckill .seckill-inner .spike .spike-time .spike-timing .spike-timing-num {
  width: 1.97498vw;
  height: 1.97498vw;
  text-align: center;
  background-color: #2f3430;
  margin-right: 0.65833vw;
  display: inline-block;
}

body .seckill .seckill-inner .spike .spike-time .spike-timing .num-last {
  margin-right: 0;
}

body .seckill .seckill-inner .spike .spike-item {
  background-color: #fff;
}

body .seckill .seckill-inner .spike-item {
  width: 52.66623vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.78999vw;
}

body .seckill .seckill-inner .spike-item .item {
  width: 13.16656vw;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .seckill .seckill-inner .spike-item .item .picture {
  width: 9.21659vw;
  height: 9.21659vw;
}

body .seckill .seckill-inner .spike-item .item .picture img {
  width: 100%;
}

body .seckill .seckill-inner .spike-item .item .writing {
  font-weight: 400;
  color: #333;
  width: 10.53325vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.85583vw;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

body .seckill .seckill-inner .spike-item .item .price {
  margin-top: 0.46083vw;
  color: #e1251b;
  font-weight: 700;
}

body .seckill .seckill-inner .spike-recommend {
  width: 11.8499vw;
  height: 15.79987vw;
  margin: auto;
}

body .seckill .seckill-inner .spike-recommend .spike-entry {
  margin: auto;
  width: 11.8499vw;
  height: 15.79987vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .seckill .seckill-inner .spike-recommend .spike-entry .spike-image img {
  width: 7.89993vw;
}

body .seckill .seckill-inner .spike-recommend .spike-entry .spike-writing {
  width: 11.8499vw;
  height: 5.92495vw;
  font-size: 0.92166vw;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(220, 224, 236, 0.5)));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.5), rgba(220, 224, 236, 0.5));
  margin-top: 0.65833vw;
}

body .seckill .seckill-inner .spike-recommend .spike-entry .spike-writing .item-1 {
  color: #666;
}

body .seckill .seckill-inner .spike-recommend .spike-entry .spike-writing .item-2 {
  font-weight: 700;
  margin-top: 0.13167vw;
  color: #333;
}

body .seckill .seckill-inner .spike-recommend .spike-entry .spike-writing .item-3 {
  font-size: 0.78999vw;
  color: #e1251b;
  border-radius: 0.92166vw;
  width: 5.39829vw;
  height: 1.57999vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  display: inline-block;
  line-height: 1.44832vw;
  font-weight: 700;
  padding-left: 0.26333vw;
  font-size: 0.78999vw;
  border: 0.06583vw solid #e1251b;
  margin-top: 0.26333vw;
}

body .seckill .seckill-inner .spike-recommend .spike-entry .spike-writing .item-4 > span {
  display: inline-block;
  width: 0.26333vw;
  height: 0.26333vw;
  border-radius: 50%;
  background: #999;
}

body .seckill .seckill-inner .spike-recommend .spike-entry .spike-writing .item-4 > span:nth-child(1) {
  background: #e1251b;
}

body .spe {
  height: 22.38315vw;
  margin-bottom: 1.31666vw;
}

body .spe .spe-entry {
  margin: 0 10.316vw;
  width: 78.34101vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .spe .spe-entry > div {
  width: 38.84134vw;
  height: 22.38315vw;
  background-color: #fff;
}

body .spe .spe-entry .special .special-head {
  width: 38.84134vw;
  height: 3.94997vw;
  padding-left: 1.31666vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .spe .spe-entry .special .special-head .special-title {
  font-weight: 700;
  font-size: 1.57999vw;
  color: #333;
  line-height: 2.10665vw;
}

body .spe .spe-entry .special .special-head .special-title > span {
  width: 1.18499vw;
  height: 1.18499vw;
  display: inline-block;
  color: orange;
  border: 0.13167vw solid orange;
  border-radius: 50%;
  position: relative;
  line-height: 1.05332vw;
}

body .spe .spe-entry .special .special-head .special-title > span > span {
  position: absolute;
  font-size: 0.78999vw;
  top: -2px;
  left: 3px;
}

body .spe .spe-entry .special .special-head .special-classify {
  font-size: 0.92166vw;
}

body .spe .spe-entry .special .special-head .special-classify > span {
  margin: 0 0.88874vw;
  color: #999;
}

body .spe .spe-entry .special .special-head .special-classify > span:nth-child(1) {
  color: #e1251b;
}

body .spe .spe-entry .special .special-head .special-classify > span:nth-last-child(1) {
  margin-right: 0.65833vw;
}

body .spe .spe-entry .special .special-detail {
  padding: 0 0.98749vw 0.98749vw 0.98749vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body .spe .spe-entry .special .special-detail .special-pro {
  width: 11.19157vw;
  height: 17.44569vw;
  margin-right: 0.395vw;
  background-color: rgba(109, 126, 146, 0.05);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .spe .spe-entry .special .special-detail .special-pro .pro-img {
  width: 7.89993vw;
  height: 7.89993vw;
}

body .spe .spe-entry .special .special-detail .special-pro .pro-img > img {
  width: 100%;
}

body .spe .spe-entry .special .special-detail .special-pro .pro-writing {
  width: 11.19157vw;
  text-align: center;
}

body .spe .spe-entry .special .special-detail .special-pro .pro-writing > div:nth-child(1) {
  font-size: 14px;
  color: #333;
  margin-top: 0.5925vw;
  margin-bottom: 0.26333vw;
}

body .spe .spe-entry .special .special-detail .special-pro .pro-writing > div:nth-child(2) {
  font-size: 1.18499vw;
  color: #e1251b;
  font-weight: 700;
  margin-top: 0.26333vw;
}

body .spe .spe-entry .special .special-detail .special-pro .pro-writing > div:nth-child(2) > span {
  font-size: 0.78999vw;
}

body .spe .spe-entry .special .special-detail .special-pro .pro-orange {
  width: 90px;
  height: 24px;
  font-size: 12px;
  font-weight: 700;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  color: #fff;
  padding-top: 4px;
  background-image: url(../picture/fudong.png);
  background-size: auto;
}

body .spe .spe-entry .special .special-detail .special-com {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

body .spe .spe-entry .special .special-detail .special-com .special-item {
  font-size: 0.78999vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .spe .spe-entry .special .special-detail .special-com .special-item > div:nth-child(1) {
  margin-right: 0.32916vw;
}

body .spe .spe-entry .special .special-detail .special-com .special-item > div:nth-child(1) img {
  width: 80px;
  height: 80px;
}

body .spe .spe-entry .special .special-detail .special-com .special-item .sp span {
  display: inline-block;
}

body .spe .spe-entry .special .special-detail .special-com .special-item .sp span:nth-child(2) {
  color: #e1251b;
  font-size: 14px;
  font-weight: 700;
  margin-top: 5px;
}

body .spe .spe-entry .flash .flash-head {
  width: 38.84134vw;
  height: 3.94997vw;
  padding-left: 1.31666vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .spe .spe-entry .flash .flash-head .flash-title {
  font-weight: 700;
  font-size: 1.57999vw;
  color: #333;
  line-height: 2.10665vw;
}

body .spe .spe-entry .flash .flash-head .flash-title > span {
  width: 1.18499vw;
  height: 1.18499vw;
  display: inline-block;
  color: orange;
  border: 2px solid orange;
  border-radius: 50%;
  position: relative;
  line-height: 1.05332vw;
}

body .spe .spe-entry .flash .flash-head .flash-title > span > span {
  position: absolute;
  font-size: 0.78999vw;
  top: -2px;
  left: 3px;
}

body .spe .spe-entry .flash .flash-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0.98749vw 0 0.98749vw;
}

body .spe .spe-entry .flash .flash-detail .flash-pro {
  width: 17.77485vw;
  height: 17.44569vw;
  margin-right: 0.65833vw;
  display: inline-block;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(119, 255, 233, 0.05)), to(rgba(0, 93, 70, 0.05)));
  background: linear-gradient(180deg, rgba(119, 255, 233, 0.05), rgba(0, 93, 70, 0.05));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 0.78999vw;
  text-align: center;
}

body .spe .spe-entry .flash .flash-detail .flash-pro .flash-logo {
  width: 4.60829vw;
  height: 2.30415vw;
  margin-top: -5px;
}

body .spe .spe-entry .flash .flash-detail .flash-pro .flash-logo > img {
  width: 100%;
}

body .spe .spe-entry .flash .flash-detail .flash-pro .flash-skq {
  margin-top: -0.65833vw;
}

body .spe .spe-entry .flash .flash-detail .flash-pro .flash-skq > div {
  font-size: 1.05332vw;
  color: #333;
  font-weight: 700;
  margin-bottom: 0.32916vw;
}

body .spe .spe-entry .flash .flash-detail .flash-pro .flash-skq > span {
  color: #666;
}

body .spe .spe-entry .flash .flash-detail .flash-pro .flash-skq .time {
  font-weight: 700;
  color: #333;
}

body .spe .spe-entry .flash .flash-detail .flash-pro .flash-shoe {
  width: 8.55826vw;
  height: 8.55826vw;
}

body .spe .spe-entry .flash .flash-detail .flash-pro .flash-shoe > img {
  width: 100%;
}

body .spe .spe-entry .flash .flash-detail .flash-com {
  width: 17.77485vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -0.65833vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

body .spe .spe-entry .flash .flash-detail .flash-com .flash-itme {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 8.88743vw;
  height: 6.58328vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .spe .spe-entry .flash .flash-detail .flash-com .flash-itme > img {
  width: 6.58328vw;
  height: 3.29164vw;
}

body .spe .spe-entry .flash .flash-detail .flash-com .flash-itme > div {
  color: #666;
  margin-top: 0.395vw;
  font-size: 0.78999vw;
  text-align: center;
  font-weight: 400;
}

body .goods {
  height: 17.11652vw;
  margin-bottom: 1.31666vw;
}

body .goods .goods-entry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  width: 78.34101vw;
  height: 17.11652vw;
}

body .goods .goods-entry .found {
  width: 12.50823vw;
  background: url(../picture/下载.png) no-repeat;
}

body .goods .goods-entry .found .found-img {
  background: url(../picture/faxianhaohuo.png) no-repeat;
  width: 160px;
  height: 90px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

body .goods .goods-entry .found .found-img > div {
  width: 140px;
  height: 24px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  padding-top: 55px;
  padding-left: 20px;
  padding-bottom: 10px;
  position: relative;
}

body .goods .goods-entry .found .found-img > div > span {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid #fff;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  bottom: -10px;
  right: 15px;
}

body .goods .goods-entry .found .found-img > div > span > span {
  font-size: 12px;
  position: absolute;
  top: -3px;
  left: 2px;
}

body .goods .goods-entry .good-commodity {
  width: 65.17446vw;
  background-color: #fff;
}

body .goods .goods-entry .good-commodity .good-entry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body .goods .goods-entry .good-commodity .good-entry .good-item {
  width: 9.87492vw;
  height: 11.91573vw;
  margin-top: 3.29164vw;
}

body .goods .goods-entry .good-commodity .good-entry .good-item > div img {
  width: 9.87492vw;
  height: 9.87492vw;
}

body .goods .goods-entry .good-commodity .good-entry .good-writing {
  color: #333;
  text-align: center;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 10px;
}

body .goods .goods-entry .good-commodity .good-entry .top {
  margin-top: 20px;
  margin-bottom: 0;
}

body .goods .goods-entry .good-commodity .good-entry .top .good-writing {
  margin-top: 10px;
  margin-bottom: 0;
}

body .starting {
  height: 340px;
  margin-bottom: 1.31666vw;
}

body .starting .starting-entry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  width: 78.34101vw;
  height: 340px;
}

body .starting .starting-entry > div {
  width: 19.09151vw;
  background-color: #fff;
}

body .starting .starting-entry .npl {
  background: url(../picture/beijin.png) no-repeat;
  background-size: cover;
  background-color: #fff;
  position: relative;
}

body .starting .starting-entry .npl .npl-title {
  width: 290px;
  height: 60px;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 24px;
  color: #333;
  line-height: 32px;
}

body .starting .starting-entry .npl .npl-title > span {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-left: 10px;
  background-image: url(../picture/箭头.png);
  background-position: -16px 0;
}

body .starting .starting-entry .npl .npl-item {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .starting .starting-entry .npl .npl-item img {
  width: 104px;
  height: 104px;
  margin-top: 10px;
}

body .starting .starting-entry .npl .npl-item img:nth-child(2) {
  width: 130px;
  height: 130px;
  margin: 10px;
  margin-bottom: 0;
}

body .starting .starting-entry .npl .npl-item > span {
  display: inline-block;
  width: 25px;
  height: 35px;
  color: #fff;
  border-top-right-radius: 18px;
  background-color: rgba(0, 0, 0, 0.15);
  position: absolute;
  left: 0;
}

body .starting .starting-entry .npl .npl-writing {
  text-align: center;
}

body .starting .starting-entry .npl .npl-writing .writing-1 {
  width: 200px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 4px;
  font-size: 14px;
  color: #333;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

body .starting .starting-entry .npl .npl-writing .writing-2 {
  font-size: 12px;
  color: #999;
  margin: 0;
}

body .starting .starting-entry .npl .npl-amount {
  margin-top: 20px;
  text-align: center;
  color: #e1251b;
  font-size: 20px;
}

body .starting .starting-entry .npl .npl-amount > span:nth-child(1) {
  font-size: 12px;
}

body .starting .starting-entry .npl .npl-amount > span:nth-child(2) {
  font-size: 16px;
}

body .starting .starting-entry .joy .joy-title {
  width: 290px;
  height: 60px;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 24px;
  color: #333;
  line-height: 32px;
}

body .starting .starting-entry .joy .joy-title > span {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-left: 10px;
  background-image: url(../picture/箭头.png);
  background-position: -16px 0;
}

body .starting .starting-entry .joy .joy-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: #999;
  font-size: 12px;
  height: 2.63331vw;
}

body .starting .starting-entry .joy .joy-head > div {
  height: 1.31666vw;
  width: 4.08163vw;
  text-align: center;
  line-height: 1.31666vw;
  border-radius: 12px;
  display: inline-block;
  background-color: #f6f6f6;
}

body .starting .starting-entry .joy .joy-head > div:nth-child(1) {
  background-color: #e1251b;
  color: #fff;
}

body .starting .starting-entry .joy .joy-commodity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: space-evenly;
      -ms-flex-align: space-evenly;
          align-items: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .starting .starting-entry .joy .joy-commodity .joy-item {
  height: 75px;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #333;
}

body .starting .starting-entry .joy .joy-commodity .joy-item > div:nth-child(1) {
  margin-right: 5px;
}

body .starting .starting-entry .joy .joy-commodity .joy-item > div:nth-child(1) img {
  width: 4.60829vw;
  height: 4.60829vw;
}

body .starting .starting-entry .joy .joy-commodity .joy-item .joy-writing {
  width: 11.8499vw;
}

body .starting .starting-entry .joy .joy-commodity .joy-item .joy-writing .joy_item_name {
  font-size: 0.92166vw;
  overflow: hidden;
  height: 2.36998vw;
}

body .starting .starting-entry .joy .joy-commodity .joy-item .joy-writing span {
  display: block;
}

body .starting .starting-entry .joy .joy-commodity .joy-item .joy-writing span:nth-child(2) {
  color: #e1251b;
  font-size: 14px;
  font-weight: 700;
  margin-top: 10px;
}

body .starting .starting-entry .good-shops .shops-title {
  width: 290px;
  height: 60px;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 24px;
  color: #333;
  line-height: 32px;
}

body .starting .starting-entry .good-shops .shops-title > span {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-left: 10px;
  background-image: url(../picture/箭头.png);
  background-position: -16px 0;
}

body .starting .starting-entry .good-shops .shops-body {
  padding: 0 0.98749vw;
}

body .starting .starting-entry .good-shops .shops-body > div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 17.11652vw;
  height: 8.4266vw;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .starting .starting-entry .good-shops .shops-body > div .shops-img {
  width: 6.58328vw;
  height: 6.58328vw;
  background: white;
  padding: 0.32916vw;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.062);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.062);
}

body .starting .starting-entry .good-shops .shops-body > div .shops-img > img {
  width: 5.92495vw;
  height: 5.92495vw;
}

body .starting .starting-entry .good-shops .shops-body .shops-item-1 {
  background: url(../picture/xiaobeijin.png) no-repeat;
  background-size: 100%;
  margin-bottom: 10px;
}

body .starting .starting-entry .good-shops .shops-body .shops-item-2 {
  background: url(../picture/xiaobeijing.png) no-repeat;
}

body .starting .starting-entry .good-shops .shops-body .shops-writing {
  width: 7.89993vw;
  height: 6.45161vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #999;
}

body .starting .starting-entry .good-shops .shops-body .shops-writing .writing-head {
  color: #333;
  font-size: 0.92166vw;
}

body .starting .starting-entry .good-shops .shops-body .shops-writing .writing-label {
  margin-top: -15px;
}

body .starting .starting-entry .good-shops .shops-body .shops-writing .writing-label > span {
  border: 1px solid;
  border-radius: 2px;
  padding: 0 2px;
  height: 18px;
  line-height: 17px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 2px;
  display: inline-block;
}

body .starting .starting-entry .good-shops .shops-body .shops-writing .writing-label > span:nth-child(1) {
  color: #e2231a;
}

body .starting .starting-entry .good-shops .shops-body .shops-writing .writing-label > span:nth-child(2) {
  color: #596fab;
}

body .starting .starting-entry .collect {
  overflow: hidden;
}

body .starting .starting-entry .collect .collect-title {
  width: 290px;
  height: 60px;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 24px;
  color: #333;
  line-height: 32px;
}

body .starting .starting-entry .collect .collect-title > span {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-left: 10px;
  background-image: url(../picture/箭头.png);
  background-position: -16px 0;
}

body .starting .starting-entry .collect .collect-body {
  width: 19.28901vw;
  height: 283px;
  padding: 0px 0.65833vw;
  background: url(../picture/红色.png) no-repeat;
  background-size: 105%;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body .starting .starting-entry .collect .collect-body .collect-item {
  width: 17.11652vw;
  height: 5.39829vw;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
}

body .starting .starting-entry .collect .collect-body .collect-item .item-img {
  width: 4.34496vw;
  height: 4.34496vw;
  margin: 8px 0 0 7px;
  padding: 8px;
  background-color: #fff;
  border-radius: 50%;
}

body .starting .starting-entry .collect .collect-body .collect-item .item-img > img {
  width: 3.29164vw;
  height: 3.29164vw;
  border-radius: 20%;
}

body .starting .starting-entry .collect .collect-body .collect-item .collect-writing {
  width: 9.21659vw;
  height: 75px;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #999;
}

body .starting .starting-entry .collect .collect-body .collect-item .collect-writing .discount {
  font-size: 1.84332vw;
  font-weight: 700;
  color: #e33333;
}

body .starting .starting-entry .collect .collect-body .collect-item .collect-writing .discount > span {
  font-size: 0.92166vw;
  font-weight: 400;
}

body .starting .starting-entry .collect .collect-body .collect-item .collect-writing .forbid {
  color: #333;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

body .starting .starting-entry .collect .collect-body .collect-item .collect-ver {
  width: 40px;
  color: #666;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .starting .starting-entry .collect .collect-body .collect-item .collect-ver > div {
  width: 1px;
  height: 60px;
}

body .starting .starting-entry .collect .collect-body .collect-item .collect-ver > span {
  display: block;
  width: 12px;
  height: 82px;
  line-height: 82px;
}

body .starting .starting-entry .collect .collect-body .collect-item .collect-ver .le {
  padding-left: 5px;
}

body .classify {
  height: 66.82028vw;
  margin-bottom: 10px;
}

body .classify .large {
  margin-top: 0;
  font-size: 28px;
  font-weight: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333;
}

body .classify .large > span {
  display: inline-block;
  width: 25px;
  height: 20px;
  background-image: url(../picture/guang.png);
}

body .classify .large > span:nth-of-type(2) {
  background-position: -25px 0;
}

body .classify .large > div {
  margin: 0 20px;
}

body .classify .classify-entry {
  margin: auto;
  width: 78.34101vw;
  height: 62.54115vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .classify .classify-entry .classify-item {
  width: 19.09151vw;
  height: 11.8499vw;
  margin-bottom: 0.65833vw;
  background-color: #fff;
}

body .classify .classify-entry .classify-item .classify-title {
  width: 19.09151vw;
  height: 60px;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 1.57999vw;
  color: #333;
  line-height: 2.10665vw;
}

body .classify .classify-entry .classify-item .classify-title > span {
  font-weight: 400;
  font-size: 0.92166vw;
  color: #999;
  margin-left: 5px;
  padding-top: 0.65833vw;
}

body .classify .classify-entry .classify-item .classify-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body .classify .classify-entry .classify-item .classify-img > img {
  width: 6.58328vw;
}

body .classify .classify-entry .classify-item-1 {
  width: 19.09151vw;
  height: 24.35813vw;
}

body .classify .classify-entry .classify-item-1 > img {
  width: 100%;
}

body .classify .classify-entry .classify-item-5 {
  width: 19.09151vw;
  height: 24.35813vw;
}

body .classify .classify-entry .classify-item-5 > img {
  width: 100%;
}

body .reco {
  height: 398.28835vw;
}

body .reco .for-you {
  margin-top: 0;
  font-size: 28px;
  font-weight: 700px;
  color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .reco .for-you > span {
  display: inline-block;
  width: 25px;
  height: 20px;
  background-image: url(../picture/guang.png);
}

body .reco .for-you > span:nth-of-type(2) {
  background-position: -25px 0;
}

body .reco .for-you > div {
  margin: 0 20px;
}

body .reco .reco-menu {
  width: 77.68269vw;
  margin-left: 10.40158vw;
  margin-bottom: 0.65833vw;
}

body .reco .reco-menu ul {
  height: 3.94997vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #fff;
}

body .reco .reco-menu ul li {
  display: inline-block;
}

body .reco .reco-menu ul li > div {
  color: #333;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
}

body .reco .reco-menu ul li > span {
  color: #999;
  font-size: 14px;
}

body .reco .reco-menu ul .reco-red > div {
  background: #e1251b;
  color: #fff;
  width: 80px;
  height: 27px;
  border-radius: 50px;
}

body .reco .reco-menu ul .reco-red > span {
  color: #e1251b;
}

body .reco .reco-list {
  width: 78.99934vw;
  margin: auto;
}

body .reco .reco-list ul {
  width: 78.99934vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .reco .reco-list ul .reco-item {
  background-color: #fff;
  display: inline-block;
  width: 15.14154vw;
  height: 21.19816vw;
  margin: 0 0.32916vw 0.32916vw 0.32916vw;
}

body .reco .reco-list ul .reco-item .reco-writing {
  height: 3.15997vw;
  font-size: 0.92166vw;
  color: #666;
  margin-bottom: 0.395vw;
  padding: 0 1.31666vw;
  clear: both;
  line-height: 1.57999vw;
  text-align: center;
}

body .reco .reco-list ul .reco-item .reco-writing > p {
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 3.15997vw;
  line-height: 1.57999vw;
  margin: 0;
}

body .reco .reco-list ul .reco-item .reco-img {
  margin: 1.97498vw 2.63331vw 2.63331vw 2.63331vw;
}

body .reco .reco-list ul .reco-item .reco-img > img {
  width: 9.87492vw;
}

body .reco .reco-list ul .reco-item .reco-price {
  font-size: 1.05332vw;
  font-weight: 700;
  height: 1.18499vw;
  color: #e1251b;
  padding: 0 1.31666vw;
}

body .reco .reco-list ul .reco-item .reco-price > span {
  font-size: 12px;
}

body .reco .reco-list ul .reco-item .reco-price > b {
  font-size: 12px;
}

body .reco .reco-list ul .reco-item .price-mny {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .reco .reco-list ul .reco-item .price-mny > div span {
  font-size: 12px;
}

body .reco .reco-list ul .reco-item .price-mny > div:nth-child(2) > span {
  color: #333;
  font-weight: 400;
}

body .reco .reco-list ul .reco-item .price-mny > div b {
  font-size: 12px;
}

body .reco .reco-list ul .reco-special {
  font-size: 12px;
  background-image: url(../picture/tuijian/bj.png);
}

body .reco .reco-list ul .reco-special .confined {
  margin: 0 1.31666vw;
  margin-top: -1.97498vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 6.45161vw;
}

body .reco .reco-list ul .reco-special .confined .ksp {
  color: #116ce9;
  border: 1px solid #116ce9;
  border-radius: 0.13167vw;
  font-weight: 700;
  padding: 0 0.1975vw;
  display: inline-block;
  height: 1.18499vw;
  width: 60px;
  margin-bottom: 5px;
}

body .reco .reco-list ul .reco-special .confined .yexd {
  font-size: 0.92166vw;
  font-weight: 700;
  color: #333;
  margin-bottom: 5px;
}

body .reco .reco-list ul .reco-special .confined .ywbc {
  color: #666;
  margin-bottom: 5px;
}

body .reco .reco-list ul .reco-special .confined .xb {
  background-image: url(../picture/tuijian/biao.png);
  height: 1.57999vw;
  width: 6.25411vw;
}

body .reco .reco-list ul .reco-special .confined .xb > span {
  color: #fff;
  font-size: 12px;
  display: inline-block;
  text-align: center;
  line-height: 1.57999vw;
  font-weight: 700;
  margin-left: 1.97498vw;
}

body .reco .reco-list ul .special-chart {
  background: url(../picture/tuijian/bj.png);
  background-position: -460px 0;
  width: 15.14154vw;
  height: 21.19816vw;
}

body .reco .reco-list ul .special-chart > div:nth-child(1) {
  width: 7.24161vw;
  height: 2.23831vw;
  line-height: 2.23831vw;
  color: #fff;
  background: #f2272b;
  margin: 1.31666vw auto 2.43581vw;
  font-size: 1.05332vw;
  font-weight: 700;
  text-align: center;
  border-radius: 50px;
}

body .reco .reco-list ul .special-chart > div:nth-child(2) {
  width: 15.14154vw;
  height: 12.63989vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: space-evenly;
      -ms-flex-align: space-evenly;
          align-items: space-evenly;
}

body .reco .reco-list ul .special-chart > div:nth-child(2) > div {
  display: inline-block;
  color: #c81623;
  border: 1px solid #ffe0e8;
  border-radius: 5px;
  width: 5.79329vw;
  height: 2.36998vw;
  line-height: 2.36998vw;
  font-size: 0.92166vw;
  text-align: center;
}

body .mod-service {
  padding: 1.97498vw 0;
}

body .mod-service > div {
  margin: auto;
  width: 78.34101vw;
}

body .mod-service > div ul {
  height: 2.76498vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .mod-service > div ul li {
  position: relative;
  padding-left: 45px;
}

body .mod-service > div ul li > div {
  display: inline-block;
  height: 42px;
  line-height: 42px;
  font-size: 18px;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #444;
}

body .mod-service > div ul li .genie-1 {
  width: 36px;
  height: 42px;
  background-image: url(../picture/cc1d8d291ea917c0.png);
  background-repeat: no-repeat;
  background-position: 0 -192px;
  position: absolute;
  left: 0;
  top: 0;
}

body .mod-service > div ul li .genie-2 {
  width: 36px;
  height: 42px;
  background-image: url(../picture/cc1d8d291ea917c0.png);
  background-repeat: no-repeat;
  background-position: -41px -192px;
  position: absolute;
  left: 0;
  top: 0;
}

body .mod-service > div ul li .genie-3 {
  width: 36px;
  height: 42px;
  background-image: url(../picture/cc1d8d291ea917c0.png);
  background-repeat: no-repeat;
  background-position: -82px -192px;
  position: absolute;
  left: 0;
  top: 0;
}

body .mod-service > div ul li .genie-4 {
  width: 36px;
  height: 42px;
  background-image: url(../picture/cc1d8d291ea917c0.png);
  background-repeat: no-repeat;
  background-position: -123px -192px;
  position: absolute;
  left: 0;
  top: 0;
}

body hr {
  color: #e1e1e1;
}

body .footer {
  height: 30.63858vw;
}

body .footer .foot-help {
  height: 13.16656vw;
  padding: 1.31666vw 0;
  width: 78.34101vw;
  margin: auto;
  color: #666;
}

body .footer .foot-help > div {
  display: inline-block;
}

body .footer .foot-help > div ul li {
  line-height: 1.44832vw;
}

body .footer .foot-help h4 {
  margin: 0;
  font-size: 14px;
  text-align: center;
  margin-bottom: 5px;
}

body .footer .foot-help > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px;
}

body .footer .foot-help > div .help-item-5 {
  width: 180px;
}

body .footer .foot-help > div .help-item-5 a {
  display: block;
  text-decoration: none;
  outline: none;
  color: #666;
  text-align: right;
  margin-top: 5px;
}

body .footer .foot-end {
  height: 17.47202vw;
  padding: 15px 0;
  border-top: 1px solid #e1e1e1;
  width: 78.34101vw;
  margin: 0 auto;
}

body .footer .foot-end .contact {
  width: 78.34101vw;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #666;
}

body .footer .foot-end .contact p {
  display: inline-block;
  margin: 0px;
  font-size: 12px;
}

body .footer .foot-end .contact span {
  font-size: 12px;
  margin: 0 7px;
}

body .footer .foot-end .permit {
  font-size: 12px;
  width: 78.34101vw;
  height: 110px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}

body .footer .foot-end .permit a {
  text-decoration: none;
  outline: none;
  color: #999;
}

body .footer .foot-end .permit p {
  margin: 5px;
  height: 22px;
}

body .footer .foot-end .permit span {
  font-size: 12px;
  margin: 0 7px;
}
/*# sourceMappingURL=homepage.css.map */