@import "./basis.scss";

.main {

    // 内容
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: vw(70);

        // 统一样式
        .item {
            display: block;
            width: vw(345);
            height: vw(120);
            border-radius: vw(4);
            padding: vw(15) vw(20);
            background: #FFFFFF;
            display: flex;
            box-shadow: 0 0 vw(15) 0 rgba(0, 0, 0, 0.10);
            margin-bottom: vw(15);

            // 左边图片
            .img {
                margin-right: vw(10);

                >img {
                    width: vw(90);
                    height: vw(90);
                    border-radius: vw(4);

                }
            }

            // 右侧标题
            .item-writing {
                font-size: vw(12);
                color: #BBBBBB;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                // 大标题
                .item-title {
                    color: #333333;
                    font-size: vw(17);
                    font-weight: 600;
                }
                img {
                    width: vw(34);
                    margin-left: vw(13);

                }
                // 价格
                .red {
                    font-size: vw(17);
                    font-weight: 600;
                    color: #E52F17;
                    >span {
                        font-size: vw(12);
                        color: #333333;
                    }
                }
            }
        }
    }
}