@function vw($px) {
    @return $px / 375 * 100vw;
}

@font-face {
    font-family: "PingFangSC-Semibold";
    src: url(../font/PingFangTC-Semibold.ttf);
}

@font-face {
    font-family: "PingFangSC-Regular";
    src: url(../font/PingFang-Regular.ttf);
}

$gray:#F5F5F5;

body,
p,
a,
h1 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-weight: normal;
    font-size: vw(14);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main {

    .kong {
        width: vw(375);
        height: vw(10);
        background-color: $gray;
    }

    .header {
        height: vw(44);
        display: flex;
        background: #F9F9F9;

        .return {
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            img {
                height: vw(30);
                padding-left: vw(10);
            }
        }

        .wraparound {
            flex-grow: 1;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: "PingFangSC-Regular";

        }

        .more {
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            img {
                height: vw(30);
                padding-right: vw(10);
            }
        }
    }

    .carousel {
        img {
            width: vw(375);
        }

        div {
            position: absolute;
            top: vw(170);
            left: 50%;
            margin-left: vw(-33);
            z-index: 999;
            color: #F6FBFF;

            span {
                display: inline-block;
                border-radius: 1.5px;
                width: vw(10);
                height: vw(3);
            }

            span:nth-child(1) {
                background: #E52F17;
            }

            span:nth-child(n+2) {
                background: rgba(255, 255, 255, 0.70);
            }
        }
    }

    .banner {
        position: relative;
        top: vw(-10);
        border-top-left-radius: vw(10);
        border-top-right-radius: vw(10);
        background-color: #fff;
        z-index: 999;

        img {
            width: vw(345);
            margin: vw(8.5) vw(15);
        }
    }

    .col-nav {
        margin-top: vw(-10);
        width: vw(375);
        height: vw(158.5);
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: space-between;
        padding: vw(14) vw(15);

        .item {
            width: vw(82);
            height: vw(57);
            position: relative;
            border-radius: vw(2);
            box-shadow: 0 vw(2) vw(8) 0 rgba(0, 0, 0, 0.08);
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            font-size: vw(14);
            font-family: "PingFangSC-Semibold";
            
            p:nth-child(1){
                color: #333333;
            }

            p:nth-child(2) {
                color: #BBBBBB;
                font-family: "PingFangSC-Regular";
                display: block;
                transform: scale(0.8);
            }

            .top {
                border: 0;
                position: absolute;
                top: 0;
                left: 0;
                width: vw(21);
                height: vw(12);
                background-color: #fa5c47;
                border-top-left-radius: vw(2);
                border-bottom-right-radius: vw(7);
                display: flex;
                justify-content: center;
                align-items: center;

                span {
                    display: block;
                    transform: scale(.5);
                    font-size: vw(14);
                    color: #fff;
                    border: 0;
                    transform-origin: center;
                    font-family: "PingFangSC-Semibold";
                }

            }
        }
    }

    .new-info {
        padding: vw(15);

        div {
            display: flex;
            background: #FDFDFD;
            border: vw(1) solid #F0F0F0;
            border-radius: vw(4);

            .left {
                flex-grow: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: vw(-5);
                border: 0;

                img {
                    width: vw(35);
                    height: vw(36.7);
                }
            }

            .center {
                padding: vw(5);
                display: flex;
                flex-direction: column;
                border: 0;

                p {
                    font-size: vw(12);
                    width: vw(228);
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-family: "PingFangSC-Regular";
                    font-weight: 500;
                }
            }

            .right {
                display: flex;
                justify-content: center;
                align-items: center;
                width: vw(50);
                height: vw(64);
                background: #F6F6F6;
                border-radius: 0 vw(3.5) vw(3.5) 0;
                margin: vw(-1);

                div {
                    border: none;
                    background: #F6F6F6;
                    color: #666666;
                    font-size: vw(12);
                }
            }
        }
    }

    .site-nav {
        width: vw(375);
        height: vw(182);
        display: flex;
        flex-wrap: wrap;
        align-content: space-evenly;
        justify-content: space-evenly;
        font-family: "PingFangSC-Semibold";

        .item {
            width: vw(165);
            height: vw(70);
            border-radius: vw(4);

            &:nth-of-type(1) {
                background: #F6FBFF;
                border: 0 solid #CFEAFF;
                display: flex;
                justify-content: space-around;
                align-items: center;

                p {
                    color: #333333;
                    font-size: vw(17);
                    margin-top: vw(-13);
                }

                img {
                    width: vw(59.3);
                }
            }

            &:nth-of-type(2) {
                background: #FCFFF9;
                border: 0 solid #DAF5BF;
                display: flex;
                justify-content: space-around;
                align-items: center;

                p {
                    color: #333333;
                    font-size: vw(17);
                    margin-top: vw(-13);
                }

                img {
                    width: vw(59.3);
                }
            }

            &:nth-of-type(3) {
                border: 0 solid #F9EAFF;
                background: #FFFAFF;
                display: flex;
                justify-content: space-around;
                align-items: center;

                p {
                    color: #333333;
                    font-size: vw(17);
                    margin-top: vw(-13);
                }

                img {
                    width: vw(59.3);
                }
            }

            &:nth-of-type(4) {
                background: #FFFBF6;
                border: 0 solid #FFEAD2;
                display: flex;
                justify-content: space-around;
                align-items: center;

                p {
                    color: #333333;
                    font-size: vw(17);
                    margin-top: vw(-13);
                }

                img {
                    width: vw(59.3);
                }
            }
        }

    }

    .imgs-list {
        width: vw(375);
        height: vw(378);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: space-evenly;
        padding: vw(15) vw(15) vw(17);

        .item {
            width: vw(114);
            height: vw(114);
            border-radius: vw(4);
            position: relative;

            img {
                width: vw(114);
                border-radius: vw(4);
            }

            div {
                position: absolute;
                bottom: 0;
                background-image: linear-gradient(-180deg, #afc4f1 2%, #91a6e5 100%);
                border-radius: vw(0) vw(8) vw(0) vw(0);
                color: #fff;
                font-size: vw(16);
                font-family: "PingFangSC-Semibold";
            }
        }
    }

    .wei {
        width: vw(375);
        height: vw(62);
        background-color: $gray;
    }
}