
div{
    border: solid;
    box-sizing: border-box;
    // text-align: center;
}
.grid{
    display: flex;
    flex-wrap: wrap;
}
@for $i from 1 to 13 {
    .col-#{$i}{
        flex-basis: $i/12*100%;
    }
}
