
div{
    border: solid;
    box-sizing: border-box;
    // text-align: center;
}
.grid{
    display: flex;
    flex-wrap: wrap;
}
@for $i from 1 to 13 {
    .col-#{$i}{
        flex-basis: $i/12*100%;
    }
}

@each $c,$ba in (blue,12)(green,6)(red,4)(pink,3)(yellow,2) {
    .col-#{$ba}{
        background-color: #{$c};
    }
}