@font-face {
  font-family: "tubiao";
  src: url(./tubiao/iconfont.ttf) format("truetype");
}
.iconfont {
  font-family: "tubiao" !important;
  /* font-size: 16px; */
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* 引入两个字体 */
@font-face {
  font-family: "iconfont";
  src: url(./iconfont/iconfont.ttf) format("truetype");
}
.iconfont2 {
  font-family: "iconfont" !important;
  /* font-size: 16px; */
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixin:before {
  content: "\e64a";
}
.icon-lu:before {
  content: "\e510";
}
.icon-faxian:before {
  content: "\e667";
}
.icon-wode:before {
  content: "\eb22";
}

.bigbox {
  border: solid ;
  border-radius:40px;
  display: flex;
  flex-direction: column;
  height: 682.5px;
  /* 宽高根据苹果屏幕19.5：9计算 */
  width: 315px;
  padding: 5px 20px;
  background-color:  rgb(230, 230, 230);
}
/* .bigbox div {
  border: solid;
} */
.topbox {
  display: flex;
  flex-direction: column;
  
}
.applebox {
  display: flex;
  align-items: center;
}

.applebox div:nth-child(1) {
  flex: 1 0 220px;
  font-weight: 600;
}
.liuhai{
  position: absolute;
  height: 30px;
  width: 150px;
  top: 10px;
  left: 110px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: black;
}
.applebox div:nth-child(3) {
  flex: 1 0 auto;
  text-align: center;
  font-size: 18px;
}
.applebox div:nth-child(4) {
  flex: 1 0 auto;
  text-align: center;
  font-size: 20px;
}
.applebox div:nth-child(5) {
  flex: 1 0 auto;
  text-align: center;
  font-size: 30px;
  margin-right: -10px;
}

.twbox {
  display: flex;
  padding: 10px 0px 15px;
}
.icon-full:before {
  content: "\e956";
}
.icon-wang:before {
  content: "\e606";
}
.icon-dianchi:before {
  content: "\e627";
}
.icon-fuchuang:before {
  content: "\e82b";
  margin-left: -5px;
}
.icon-jia:before {
  content: "\e612";
  font-size: 20px;
  margin-right: -10px;
}
.twbox div:nth-child(2) {
  flex: 1 0 auto;
  text-align: center;
}

.cbox {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}
.cbox>div {
  flex: 1 0 auto;
}
.sou.sou {
  flex: 0 0 25px;
  display: flex;
}
.sou input{
  border: none;
  outline: none;
}
.in.in{
  flex-grow: 1;
  margin: 0px -15px 10px;
  text-align: center;
  height: 30px;
  background-color: #fff;
  border-radius: 5px;
}
.icon-sou:before {
  content: "\e640";
}
.wx6{
  font-weight: 600;
}
.fang{
  position: absolute;
  left: 153px;
  top: 98px;
  font-weight: 700;
  color: rgb(161, 161, 161);
}
.back{
  background-color: #fff;
  margin: 0px -20px 20px;
  padding: 10px;
}

.icon-qunliaox:before {
    content: "\e6e2";
  }
.icon-shanghai:before {
  content: "\e619";
}
.icon-zhaoshangyinhang:before {
  content: "\e61f";
}
.icon-yinhang-zhongguoyinhang:before {
  content: "\e64f";
}
.icon-yinhang-nanjing:before {
  content: "\e653";
}
.icon-jyinhang-nanjing:before {
  content: "\e612";
}
.icon-jiangsuyinhang:before {
  content: "\e613";
}
.qunbox{
    display: flex; 
    flex: 1 0 auto;
}
.qunbox div:nth-child(1) {
  width: 50px;
  font-size: 40px;
}
.qunbox div:nth-child(2) {
    flex: 1 0 auto;
  }

.shangbox{
    display: flex;
}
.shangbox div:nth-child(1) {
  width: 50px;
  font-size: 40px;
  margin-left: -2px;
}
.shangbox div:nth-child(2) {
  flex: 1 0 auto;
}
.zhaobox{
    display: flex;
}
.zhaobox div:nth-child(1) {
  width: 50px;
  font-size: 40px;
  margin-left: -7px;
}
.zhaobox div:nth-child(2) {
  flex: 1 0 auto;
  padding-left: 5px;
}
.zhongbox{
    display: flex;
}
.zhongbox div:nth-child(1) {
  width: 50px;
  font-size: 40px;
  margin-left: -2px;
}
.zhongbox div:nth-child(2) {
  flex: 1 0 auto;
}
.nanbox{
    display: flex;
}
.nanbox div:nth-child(1) {
  width: 50px;
  font-size: 40px;
  margin-left: -2px;
}
.nanbox div:nth-child(2) {
  flex: 1 0 auto;
}
.jianbox{
    display: flex;
}
.jianbox div:nth-child(1) {
  width: 50px;
  font-size: 40px;
}
.jianbox div:nth-child(2) {
  flex: 1 0 auto;
}
.jiangbox{
    display: flex;
}
.jiangbox div:nth-child(1) {
  width: 50px;
  font-size: 40px;
}
.jiangbox div:nth-child(2) {
  flex: 1 0 auto;
}


.footbox {
  display: flex;
  /* flex-direction:row; 表示水平排列 默认值不用写*/
}
.footbox > div {
  flex: 1 0 auto;
}
.weixin,
.tongxunlu,
.faxian,
.wo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75.25px;
  margin-bottom: 20px;
}
.weixin{
  color: rgb(67, 185, 20);
}
.r6{
  width: 15px;
  height: 15px;
  background-color:rgb(218, 3, 3);
  border: solid rgb(218, 3, 3);
  border-radius: 50%;
  color: #fff;
  text-align: center;
  font-size: 10px;
  position: fixed;
  bottom: 84px;
  left: 79px;
  z-index: 999;
}

.weixin div:nth-child(1){
  font-size: 30px;
}
.tongxunlu div:nth-child(1){
  font-size: 30px;
}
.faxian div:nth-child(1){
  font-size: 30px;
}
.wo div:nth-child(1){
  font-size: 30px;
}